---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <ul>
    <li><span>your way to <a href="/characters">characters</a></span></li>
    <li><span>your way to <a href="/shops">shops</a></span></li>
  </ul>
</BaseLayout>
