---
import { type CollectionEntry } from "astro:content";
import { Icon } from 'astro-icon/components'

interface Props {
    components: CollectionEntry<"spells">["data"]["spell"][0]["components"];
    class?: string;
}

const { class: className, components, ...rest } = Astro.props;
const isMultiComponent = components.v && components.s;
---
<div class:list={[className, { "multi-component": isMultiComponent }]} {...rest}>
    {components.v ? <Icon class="verbal" name="volume-high" /> : null}
    {components.s ? <Icon class="somatic" name="hand-wave" /> : null}
</div>

<style>
    div {
        display: flex;
        justify-content: center;
        align-items: center;

        [data-icon] {
            --icon-size: var(--size-32);
        }

        &.multi-component {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            [data-icon] {
                --icon-size: var(--size-16);
            }

            .verbal {
                grid-column: 1;
                grid-row: 1;
            }
            .somatic {
                grid-column: 2;
                grid-row: 2;
            }
        }

        [data-icon] {

            width: var(--icon-size);
            height: var(--icon-size);
        }

    }


</style>