---
import type { CollectionEntry } from "astro:content";
import { highlightSpecialParts } from "../highlightSpecialParts.ts";
interface Props {
  entryListObject: CollectionEntry<"spells">["data"]["spell"][0]["entries"][0];
  class?: string;
}

const { class: className, entryListObject, ...rest } = Astro.props;
---

<ul class:list={[className]} {...rest}>
  {
    entryListObject.items.map((item) => {
      if (typeof item === "string") {
        return <li set:html={highlightSpecialParts(item)} />;
      } else if (item.type === "item") {
        return (
          <li>
            <span>{item.name}</span>
            <ul>
              {item.entries.map((subItem) => (
                <li set:html={highlightSpecialParts(subItem)} />
              ))}
            </ul>
          </li>
        );
      } else {
        return (
          <li>
            <strong>ERROR</strong>: no clue what this is {JSON.stringify(item)}
          </li>
        );
      }
    })
  }
</ul>
